# dotenv environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local

# Frontend build
/frontend/.next/
/frontend/out/
/frontend/node_modules/
/frontend/.cache/
/frontend/.DS_Store
/frontend/Thumbs.db
/frontend/*.log

# Backend build
/backend/__pycache__/
/backend/*.pyc
/backend/*.pyo
/backend/.DS_Store
/backend/Thumbs.db


# Editors and IDEs
.vscode/
.idea/
*.swp

# Others
tmp/
temp/

frontend/node_modules/@next/swc-darwin-arm64/next-swc.darwin-arm64.node